@font-face {
    font-family: Fira Sans;
    src: url(/Fonts/FiraSans-Bold.ttf);
}
@font-face {
    font-family: Fira Sans;
    src: url(/Fonts/FiraSans-Regular.ttf);
}

body {
    font-family: Fira Sans, sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    background-color: #F2F2F2;
    margin: 0 auto;
    padding: 30px;
}

html  {
    background-color: #FFFFFF;
}

.HDR {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    position: relative;
}

header h1 {
    font-size: 55px;
    line-height: 66px;
    position: absolute;
    top: 140px;
}

.motto {
    font-size: 27px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.card {
    background-color: #A4A5A6;
    margin: 36px auto;
    padding: 20px 30px 30px;
    border-radius: 5px;
    border: #FFFFFF 1px solid;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 320px;
}

.card img {
    display: block;
    margin:0 auto;
    border-radius: 10px;
}

.card a {
    font-size: 19px;
    line-height: 39px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #000000;
    position: relative;
    top: -20px;
}

.count {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #666666;
    position: relative;
    top: -17px;
}

.row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}

.buttons {
    background-color: #6F7073;
    border-radius: 5px;
    width: 119px;
    height: 32x;
}

.buttons button {
    border: none;
    background-color: #6F7073;
    font-size: 20px;
    line-height: 25px;
    padding: 3px 15px;
}

.NumberButton {
    font-size: 18px;
    line-height: 22px;
    padding: 4px 10px;
}

.minus {
    border-radius: 5px 0 0 5px;
}

.plus {
    border-radius: 0 5px 5px 0;
}

.buttons button:hover, .atb:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.card h3 {
    font-size: 24px;
    line-height: 29px;
    margin: 25px 0;
}

.atb {
    background-color: #6F7073;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0 10px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}

.Form {
    position: relative;
    background-color: #A4A5A6;
    margin: 36px auto;
    padding: 20px 30px 30px;
    border-radius: 5px;
    border: #FFFFFF 1px solid;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 320px;
}

.Bask {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
}

.Bask span {
    font-weight: 400;
}

.Bask input, .Tel input {
    background-color: #6F7073;
    width: calc(100% - 40px);
    margin: 20px 0 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding:0 20px;
    outline: none;
}

input::placeholder {
    color: #1C1F26;
   
}

.Pic {
    border-top: 1px solid #6F7073; 
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding: 20px 0;
}

.O {
    font-weight: 700;
}

.Pic p {
    margin: 3px 15px;
}

.line {
    position: absolute;
    top: 330px;
    left: 0;
    width: 100%;
}

.Tel {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 20px 0 0;
}

.Ord {
    background-color: #6F7073;
    width: 140px;
    margin: 20px 0 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding:0 20px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Uno {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #666666;
}

.Ph {
    margin: 20px auto 0;
    display: block;
}

header a {
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #888888;
}

.Hshka {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.card .Cos {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.partners {
    display: none;
}

.Gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
}

.Gallery img {
    display: none;
}

.Gallery img:first-child {
    display: block;
}

.Features {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 30px;
}

.Desk {
    max-width: 500px;
}

@media(min-width: 768px) {
    .partners {
        display: flex;
        flex-direction: column;
    }

    .Row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Gallery img {
        display: block;
        margin: 0 10px;
    }


    .main {
        padding: 30px;
    }

    .Desk {
        max-width: 700px;
        margin: 0 auto;
    }
    
}
